@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hardware Store</h1>
  
</div>

<div class="row">
    <table class="table">

    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        'use strict';
        $(function() {
            
        })
    </script>
}