@model IEnumerable<Truck.ViewModels.AttachmentViewModel>

<table class="table table-bordered table-striped">
@foreach (var item in Model) {
    <tr>
        <td>
            <a href="#" onclick="downloadFile('@Url.Action("DownloadPdf", "Base")/@item.Id')">@item.Name.Split('.')[0]</a>
        </td>
        @if (User.IsInRole("user"))
        {
            <td class="text-center">
                <a href="#" onclick="deleteFile(@item.InvoiceId,@item.Id,this)"><i class="fa fa-trash-o text-danger"></i></a>
            </td>
        }
       
    </tr>
}
</table>
