@{
    ViewBag.Title = "Reset password confirmation";
}
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/css/main")
    <style>
        .login-bg {
            background: url(/assets/img/bgs/13.jpg) no-repeat center center fixed;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/bgs/13.jpg', sizingMethod='scale');
            -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/bgs/13.jpg', sizingMethod='scale')";
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body class="login-bg">
    <div class="container-fluid" style="padding:100px">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>

    </div>
</body>
</html>