<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=MALBALLAH-PC\MSSQLSERVER2014;Initial Catalog=Store;User ID=sa;Password=P@ssw0rd;Integrated Security=False"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>